block nav
	nav
		#logo

		ul#nav
			li.active
				a(href="/") Articles
			li
				a(href="/works") Works
			li
				a(href="/map") Map
			li
				a(href="/about") About
			li
				a(href="/contact") Contact

		#nav-cta
			#srch-btn

			#login

			#logged-in
				#profile
				#new-post