extends ./layout.jade

block nav
	#logo

	ul#nav
		li
			a(href="/") Articles
		li
			a(href="/works") Works
		li
			a(href="/map") Map
		li
			a(href="/about") About
		li
			a(href="/contact") Contact

	#srch-btn

	#login

	#logged-in
		#profile
		#new-post