extends ./header.jade

block nav
  nav
    ul
      li
        a(href="engineering") Engineering
      li
        a(href="map") Map
      li
        a(href="about") About
      li
        a(href="contact") Contact