header {
	display: flex;
	justify-content: space-between;
	
	padding: 0 10px;
	
	background-color: $white;
	
	.flex-left,
	.flex-right {
		align-items: center;
	}
	
	img {
		height: 35px;
	}
	
	a {
		color: $text-color;
		
		padding: 29px 20px;
		
		transition: background-color 0.2s ease-in-out;
		
		&:hover,
		&.active {
			color: $white;
			background-color: lighten($primary-color, 5%);
		}
		
		&.active {
			background-color: $primary-color;
		}
	}
}

#logged-in img {
	border-radius: 50%;
}

nav {
	ul {
		display: flex;
		
		margin: 0 20px;
	}
	
	li {
		display: flex;
		align-items: center;
	}
}

nav ul,
#mobile-nav ul {
	list-style-type: none;
}

#mobile-nav,
#mobile-nav-toggle {
	display: none
}

// temp
#srch-btn {
	display: none;
}