nav {
	ul {
		max-width: 900px;
		background: rgba(white, 0.7);
		list-style-type: none;

		display: flex;
		justify-content: space-between;
		margin: 20px auto;
		padding: 5px 20px;
		
		font-size: 17px;
		font-weight: 800;
	}
}

header {
	margin-bottom: 50px;
	.logo {
		a {
			display: flex;
			justify-content: center;
			align-items: center;

			div {
				padding: 5px;

				&.graphic {
					width: 100px;
					height: 100px;
					background: url(../img/logo.svg);
					background-size: 100px 100px;
				}

				&.name {
					font-weight: 700;
					font-size: 1.5em;
				}
			}
		}
	}
}

.header {
	background: {
		image: url(../img/header-image.jpg);
		size: cover;
		position: 0 70%;
		repeat: no-repeat;
	}

	min-height: 250px;
}

@media screen and (max-width: 920px) {
	nav ul {
		margin: 20px 10px;

		flex-direction: column;
		background: none;

		li {
			background: rgba(white, 0.7);
			margin: 10px 0;
			text-align: center;
		}
	}
}